.navbar-main
    display: grid
    grid-template-columns: 32px auto
    justify-items: center
    font-family: 'Open Sans', sans-serif
    color: white
    border-bottom: 1px solid rgba(255,255,255,.25)

    .title
        display: grid
        align-items: center
        margin-left: -32px
    
    .goback
        display: grid
        align-items: center
        cursor: pointer !important
        background: rgba(255,255,255,.25)
        border-radius: 2px
        width: 32px
        height: 32px
        justify-items: center
        filter: saturate(0)
